body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

/* Start First Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.logo {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /*Text Shadow*/
}

.main-title, .sub-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(11, 46, 88);
}

.main-title {
    top: 40%;
    font-size: 10rem; /* Main Title Font Size */
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /*Text Shadow*/
}

.sub-title {
    top: 60%;
    font-size: 4rem; /* Subtitle font size */
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /*Text Shadow*/
}

.chevron-icon {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the chevron */
    color: rgb(11, 46, 88);
    font-size: 15rem;
    z-index: 1;
    animation: bounce 2s infinite;
    text-shadow: 4px 4px 8px #000000b3; /*Text Shadow*/
}

/* Bouncing animation for chevron */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }
    40% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
    60% {
        transform: translate(-50%, -50%) translateY(-10px); /* Bouncing effect */
    }
}
/* End First Section */

/* Second Section */
.second-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.left-text, .right-text {
    position: absolute;
    top: 50%; /* Center the text vertically */
    transform: translateY(-50%);
    color: #0b2e58;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /*Text Shadow*/
}

.left-text {
    left: 10%;
    max-width: 40%;
    font-size: 4rem; /* Left text font size */
    font-weight: bold;
}

.right-text {
    right: 10%;
    max-width: 40%;
    font-size: 2rem; /* Right text font size */
    text-align: right;
    text-shadow: 2px 2px 4px #000000b3; /*Text Shadow*/
}
.booknow-button {
    background-color: #0b2e58;
    color: white;
    padding: 25px 50px; 
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-size: 1.2rem; 
    margin-top: 20px;
    position: absolute; 
    left: 10%; 
}
.booknow-button:hover {
    background-color: #1100ff; /* Hover effect for button */
}
/* End Second Section */

/* Start Third Section */
.bestlocations {
    padding: 40px;
    text-align: center;
    background: url("../assets/img/3rdpagebg.jpg") no-repeat center center/cover;
    height: 800px; /* Height of the third section */
}

.destination-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.destination {
    width: 500px;
    height: 600px;
    position: relative;
    box-shadow: 0 4px 8px #0000001a; /* Box Shadow */
}

.destination img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bestlocations h2 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px #000000b3;
    margin-bottom: 40px;
}

.destination h3 {
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.9rem; /* Destination title font size */
    font-weight: 1800;
    text-shadow: 4px 4px 8px #000000b3; /*Text Shadow*/
}

.bxs-hand-down {
    position: absolute;
    top: 570px; 
    left: 10%;
    transform: translate(-50%, -50%);
    color: rgb(11, 46, 88); 
    font-size: 4rem; /* Icon font size */
    z-index: 1; 
    box-shadow: inset;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; 
}

/* read more button style */
.readmore-button{
    background-color: #0b2e58;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    
}
.readmore-button:hover {
    background-color: #1100ff; 
}

/* End Third Section */

/* Start fourth section */

.fourth-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.left-text4th, .right-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000b3;
}

.left-text4th {
    left: 10%;
    max-width: 40%;
    font-size: 6rem;
    font-weight: bold;
}

.right-text {
    position: absolute;
    top: 50%;
    left: 55%; 
    transform: translateY(-50%);
    max-width: 40%;
    font-size: 1.5rem;
    text-align: left; 
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000b3;
}
/* end 4th section */

/* Start 5th section */
.fifth-section {
    position: relative;
    width: 100%;
    height: 100vh;
}
.dot-container {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    height: 100vh;               
}

.dot {
    height: 400px;
    width: 400px;
    background-color: #000000;
    border-radius: 50%;         
    display: flex;               
    flex-direction: column;      
    justify-content: center;      
    align-items: center;          
    margin: 25px;                
}

.top-text {
    color: #0b2e58;              
    font-size: 9rem;             
    margin: 0;                   
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.bottom-text {
    color: #ffffff;              
    font-size: 1rem;             
    margin: 0;                   
}
/* end 5th section */

/* Start 6th Section */
.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #000000;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 100%;
}

.slider-images {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.slider-images img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
/* End 6th Section */

/* start 7th section */
.seventh-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.faceimg {
    width: 25%;
    height: auto;                  
    border-radius: 55%;
    margin-bottom: 20px;         
}

.imgtext {
    width: 80%;                  
    max-width: 600px; 
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000b3; /*Shadow */
    margin: 0 auto;  
    padding: 10px; 
    text-align: center;  /* Center the text */
}

.imgname {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #000000b3; /*Shadow */
    margin-top: 10px;             
}
.chevron-icon {
    position: absolute;
    bottom: 200px;             
    left: 50%;
    transform: translateX(-50%);
    color: rgb(11, 46, 88);
    font-size: 15rem;
    animation: bounce 2s infinite;
    text-shadow: 4px 4px 8px #000000b3; /*Shadow */
}


/* Footer 8th section */
footer {
    padding: 50px 0;
    background-image: url('assets/img/footerbg.jpg'); /* Background Img */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact-info, .contact-form {
    flex: 1;
    max-width: 40%;
    text-align: left;
}

.contact-info h3, .contact-form h3 {
    font-size: 1.8rem;
    color: #0b2e58; 
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; 
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Keep the form border */
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: transparent; /* Transparent background */
    color: #fff; /* White text color */
    outline: none; 
}

.contact-form button {
    background-color: #0b2e58;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1100ff;
}

footer .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .contact-info, .contact-form {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contact-form {
        text-align: left;
    }
}

/* End Footer */

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-title {
        font-size: 5rem;
    }
    .sub-title {
        font-size: 2rem;
    }
    .chevron-icon {
        font-size: 7rem;
    }
    .left-text {
        font-size: 2rem;
    }
    .right-text {
        font-size: 1.5rem;
    }
    .destination {
        width: 100%;
        height: auto;
    }
    
    /* Responsive footer */
    .footer-content {
        flex-direction: column;
        text-align: left;
    }
}
